h1{
    color: rgb(95, 55, 22);
    font-family: fantasy;
    background-color: gray;
}

.footer{
 background-color: saddlebrown;
 color: #eee;
}
#copy{
    font-size: 14px;
    font-style: italic;
}
